[Unit]
Description=DNSMasq for ap0
After=network.target

[Service]
ExecStart=/usr/sbin/dnsmasq -C /etc/dnsmasq-ap0.conf
Restart=always

[Install]
WantedBy=multi-user.target